.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.active{
  background-color: rgb(6, 135, 215);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}

.passive{
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
}

.btn{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  border: none;
}

.input{
  width: 250px;
  border: 1px solid lightgray;
  height: 40px;
  border-radius: 5px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 40px;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}

.select{
  position: absolute;
  top: 25px;
  right: 350px;
}
